<h1>Demoes</h1>
<p id="headertext">This page contains some of the HTML5 and CSS demoes that I have done.</p>

<div>
<h3><a href="demoes/color_wheel.html">Color wheel</a></h3>
<img src="images/color_wheel.png" />
<p>
This project's purpose was to create color selector for nanoInkscape, but I used it also in Text editor and Photo editor experiments.
I got the idea of color wheel from Gimp and Inkscape. It has still some problems like the color of the widget won't be automatically updated if you change the color outside of the widget.
</p>
</div>

<div>
<h3>InfoTV</h3>
<img src="images/infotv.png" />
<p>
I started this project at ninth year of comprehensive school to replace my previous school's old and ugly infotv which was created with Microsoft PowerPoint. And it orginally worked only in IE, but now it works almost every browser except IE... I don't want to publish the address of the official infotv, because it's not on this server.
</p>
</div>

<div>
<h3><a href="demoes/editor.html">Text editor</a></h3>
<img src="images/text_editor.png" />
<p>
I made this WYSIWYG editor for the InfoTV, but because it was so hard to get it working well I finally desided to not use it.
</p>
</div>

<div>
<h3><a href="nanoInkscape/draw.htm">nanoInkscape</a></h3>
<p>
When I was making this site I came across with svg on web page and I wanted to try create vector graphics editor demo.
</p>
</div>

<div>
<h3><a href="demoes/image.old.html">Photo editor</a></h3>
</div>
