<h1>Demot</h1>
<p id="headertext">Tämä sivu sisältää HTML5 ja CSS3 teknologiaa käyttäviä demoja. Kaikki demot tällä sivulla on toteutettu 2011-2013 ellei toisin mainita.</p>

<div>
<h3><a href="demoes/color_wheel.html">Väripyörä</a></h3>
<img src="images/color_wheel.png" />
<p>
Tämän projektin tarkoitus oli luoda värin valitsin nanoInkscape demolleni. Käytin sitä myös teksti editori demossani. Inspiraationa käytin Gimp:istä ja inkscape:sta löytyvää värin valitsin komponenttia. Toteutukseni on kuitekin täysin tyhjästä luotu eli en tutkinut miten tämä komponentti oli luotu Inkscape:ssa ja Gimp:issä.
</p>
<p>
21-24.6.2018 Refactoroin koodia aika paljon ja tein mahdolliseksi väripyörän tilan muokkaamisen ulkopuolisen värin perusteella.
</p>
</div>

<div>
<h3>InfoTV</h3>
<img src="images/infotv.png" />
<p>
Aloitin tämän projektin yhdeksännellä luokalla korvaamaan kouluni vanhan ja kökön infotv:n. Alkuperäinen info tv oli luotu Microsoft PowerPointilla ja se toimi vain IE selaimella, kun taas oma toteutukseni toimi kaikilla muilla selaimilla paitsi silloisella IE:llä... Kouluni käytti tätä kouluni käytävillä olevissa tv:eissä muutaman vuoden, jonka jälkeen he siirtyivät google slideihin.
</p>
<p>
Tämä projekti on toteutettu WordPressin päälle ja epäilen että sen käyttö lopetettiin, koska WordPress paremmin soveltuu sen alkuperäiseen käyttötarkoitukseen eli blogien luomiseen eikä slideshowejen piirtelyyn :). En myöskään saanut mitään palautetta tai parannus ehdotuksia koko projektin aikana mikä jäi vähän harmittamaan.
</p>
<p>
Tein monta uudelleen toteutusta tästä projektista, koska en ollut tyytyväinen sen alkuperäiseen rakenteeseen. Mutta minulla silloin ei ollut motivaatiota toteuttaa mitään niistä loppuun.
</p>
</div>

<div>
<h3><a href="demoes/editor.html">Text editor</a></h3>
<img src="images/text_editor.png" />
<p>
Tein tämän WYSIWYG teksti editorin InfoTV slidejen luontiin. En kuitenkaan koskaan käyttänyt sitä enkä kunnolla viimeistellyt sitä. Touteutin sen selainten tarjoamalla contentEditable ominaisuudella, mutta se osottautui erittäin kömpelöksi.
</p>
</div>

<div>
<h3><a href="nanoInkscape/draw.htm">nanoInkscape</a></h3>
<p>
Kun olin tekemässä vava tunnilla tätä sivua, törmäsin svg javascript apiin jolla pystyi generoimaan svg kuvia. Tein tämän demon, jotta voisin leikkiä tuolla svg apilla. Tämä demo toteuttaa <a href="http://www.inkscape.org">Inkscape</a> nimisen työpöytä ohjelman perus ominaisuudet.
</p>
<p>
21-24.6.2018 Tein paljon lisää ominaisuuksia tähän demoon ja toteutin sille suht hyvän ulkoasun. <a href="nanoInkscape2/draw.htm">Alkuperäinen versio</a> toimi vain firefoxilla enään, koska svg api jota käytin oli poistettu webkitistä ja se oli korvattu yksinkertaisemmalla api:lla.
</p>
</div>

<div>
<h3><a href="demoes/image.old.html">Kuva editori</a></h3>
<p>
Näemmä tosi keskeneräinen projekti.
</p>
</div>
