<h1>Linkit</h1>
<p id="headertext">Koska Internetin alkuperäinen tarkoitus oli jakaa tietoja ja tehdä suuria verkkoja, jotka on linkitetty yhteen. Päätin tehdä linkki listan jolle lisään kaikki mielenkiintoiset sivut joita löydän. Lista on vielä aika vaatimaton, mutta muutamassa vuodessa se varmasti venyy...</p>
<div>
  <h2>HTML5</h2>
  <ul>
    <li><a href="http://www.ecma-international.org/publications/standards/Ecma-262.htm">Javascript specification</a></li>
    <li><a href="http://dev.w3.org/html5/spec/Overview.html">HTML specification</a></li>
  </ul>
</div>
<div>
  <h2>Linux</h2>
<ul>
<li><a href="http://www.gnu.org">GNU</a></li>
<li><a href="http://www.kernel.org">Linux kernel</a></li>
<li><a href="http://www.gnome.org">Gnome</a></li>
<li><a href="http://www.ubuntu.org">Ubuntu</a></li>
<li><a href="http://www.debian.org">Debian</a></li>
    <li><a href="http://www.archlinux.org">Archlinux</a></li>
  </ul>
</div>
<div>
  <h2>Muut</h2>
  <ul>
    <li><a href="http://en.wikipedia.org">Wikipedia</a></li>
    <li><a href="http://www.gutenberg.org">Project Gutenberg</a></li>
    <li><a href="http://www.textbookrevolution.org">Textbook Revolution</a></li>
    <li><a href="http://www.google.com">Google</a></li>
  </ul>
</div>
